* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

li,
a {
  list-style: none;
  color: rgb(163, 162, 162);
}

a {
  text-decoration: none;
}
