.section-recents-artists {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2.5rem 0;

  h1 {
    color: #fff;
    font-size: 2rem;
  }
}

.recents-artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.recents-artists-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 1.5rem;
  border-radius: 10px;

  img {
    border-radius: 10px;
  }

  background-color: rgb(35, 34, 34);
  color: #fff;

  p {
    color: rgb(163, 162, 162);
  }

  h4 {
    max-width: 200px;
  }
}
