.header {
  display: flex;
  align-items: flex-end;
  gap: 3rem;

  padding-top: 2rem;
  color: #fff;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.album-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h1 {
    font-size: 4rem;

    @media (max-width: 992px) {
      font-size: 3rem;
    }
  }

  p {
    font-size: 1.25rem;
  }
}

.songs-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 3rem 0;
}

.song {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;

  padding: 1rem;
  color: #fff;
  background-color: rgb(46, 45, 45);

  &:hover {
    background-color: rgb(101, 100, 100);
  }
}
