.header-artist {
  display: flex;
  align-items: center;
  gap: 5rem;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
  }

  margin: 2rem 0;
  padding: 2rem 0;
  width: 100%;
  height: 300px;
  color: #fff;

  img {
    border-radius: 50%;
  }

  h1 {
    font-size: 3rem;
  }
}

.artist-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.15rem;
  }
}

.top-tracks {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (max-width: 768px) {
    padding: 2rem 0;
  }

  color: #fff;

  p {
    font-size: 1.25rem;
  }
}

.top-tracks-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 0.25rem 3rem;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  @media (max-width: 768px) {
    span {
      display: none;
    }
    justify-content: initial;
  }
}

.section-albums {
  display: flex;
  flex-direction: column;
  padding: 3rem 0 8rem 0;
  gap: 2rem;

  color: #fff;
}

.card-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;

  @media (max-width: 576px) {
    justify-content: center;
  }
  h1 {
    color: #fff;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 230px;
  padding: 1.5rem 1rem;
  background-color: #202020;
  color: #fff;
  border-radius: 5%;

  img {
    border-radius: 5%;
  }
}
