.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  max-width: 250px;
  padding: 4rem;
  flex: 1;

  background-color: #000;
  color: white;

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  li {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
