.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  max-width: 250px;
  padding: 4rem;
  flex: 1;

  background-color: #000;
  color: white;

  @media (max-width: 576px) {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  li {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.bottom-bar {
  background-color: #000;
  position: fixed;
  display: none;
  bottom: 0;
  padding: 1.25rem;
  width: 100%;

  @media (max-width: 576px) {
    display: block;
  }
}

.bottom-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  ul {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5px;
  }
}
